@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&family=Noto+Serif+KR:wght@200;300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'EVOMEDIUM';
    src: url(../src/fonts/MADE\ EVOLVE\ SANS\ MEDIUM\ EVO.otf);
}

@font-face {
    font-family: 'EVOREGULAR';
    src: url(../src/fonts/MADE\ EVOLVE\ SANS\ REGULAR\ EVO.otf);
}

@layer base {
    * {
        @apply text-base text-ourBlack;
        box-sizing: border-box;
    }

    html,
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 90%;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }
    body {
        -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

/* global css 맘대로 건드렸는데 안되는거면 좀 바꿔주셈 */

.slick-slide.slick-active.slick-current {
    z-index: 100;
}

.white-arrow {
    width: calc((100% - 38rem) / 2) !important;
    height: 100% !important;
    background-color: white !important;
    z-index: 2;
}

@media screen and (max-width: 768) {
    .white-arrow {
        width: calc((100% - 33rem) / 2) !important;
        height: 100% !important;
        background-color: white !important;
        z-index: 2;
    }
}

@media screen and (max-width: 639px) {
    .white-arrow {
        width: calc((100% - 17rem) / 2) !important;
        height: 100% !important;
        background-color: white !important;
        z-index: 2;
    }
}
